section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.panel-header {
  background-color: gray;
  border-radius: 4px;
  color: white;
  padding: 12px;

  p {
    margin: unset;
  }
}
