// VARIABLES
$header-height: 58px;
$body-margin: 8px;
$main-section-margin-top: 12px;
$right-column-max-height: calc(
  100vh - $header-height - ($body-margin * 3) - $main-section-margin-top
);

// MIXINS
@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin mq-mobile {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
